@font-face {
  font-family: "iconfont"; /* Project id 4355253 */
  src: url('iconfont.woff2?t=1701447671347') format('woff2'),
       url('iconfont.woff?t=1701447671347') format('woff'),
       url('iconfont.ttf?t=1701447671347') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuyi:before {
  content: "\e619";
  font-size: 37px;
  color:#82c2cb;
}

.icon-fanhuiM:before {
  content: "\e600";
  font-size:37px;
  color: #82c2cb;
}

.icon-a-fanhui1:before {
  content: "\e60c";
}
